.titleForm{
    display:flex;
    justify-content: center;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.title5{
    font-size: 26px;
    display: flex;
    justify-content: center;
    color: #0b111d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.671);
    font-weight:200px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    border-radius: 15%;
    margin-top: 5%;
    
}
input{
    border-radius: 5%;
    margin-top: 2%;
    
}

.boton5{
    width: 200px;
    color:rgb(0, 0, 0);
    background-color: #4de6de;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    margin-left: 5%;
    height:40px;
    
}
    
.boton5:hover{
    background-color: #404750; 
    background: url(https://thumbs.dreamstime.com/b/fondo-de-pantalla-para-perros-huella-vector-sobre-blanco-aislado-pasos-199267833.jpg);
}


 .fromPerfil{
     display:flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin-left:5px;
     background: url(https://thumbs.dreamstime.com/z/modelo-incons%C3%BAtil-veterinario-cl%C3%ADnica-del-veterinario-dise%C3%B1o-plano-fondo-para-una-tarjeta-de-la-invitaci%C3%B3n-o-una-enhorabuena-59666727.jpg);
     
 }

 input{
     width: 400px;
     height: 25px;
     font-size: 20px;
     justify-content:center;
     border-radius:8px;
     text-align:center;
 }
 .imgperfil{
     margin-top: -125px;
     margin-left: -135px;
    
 }
 .perrito{
     margin-right: -50px;
 }
 .concatFiltro{
     display:flex;
     flex-direction: column;
     
     
 }
 .b{
     margin-bottom: 15px;
     padding-top: 5px;
     border-radius: 5px;
 }
 .boton3{
    color:rgb(250, 250, 253);
    border-radius: 0px;
    background-color: #93c2e1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 10px;
    font-size: 23px;
    margin:5px;
    margin-top: 5px;
    

}
.boton3:hover{
    background-color: #4e9df8; 
}
    
.b:hover{
    background-color: #4e9df8; 
}
strong {
    color: rgb(236, 52, 52);
    justify-content:center;
}