
.content{
    background: url(https://thumbs.dreamstime.com/b/fondo-de-pantalla-para-perros-huella-vector-sobre-blanco-aislado-pasos-199267833.jpg);
    background-repeat: no-repeat;
	background-size: 100% 8%;
   
}
.titul{
    margin-left: -500px;
}


.topHome {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 0px;
    background-color: rgb(103, 169, 227);

}
.orden{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}

.reload{
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    border: 3px solid;
    padding: 8px 30px;
    color: #4de6de;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.reload:hover{
    
    background-color: #4de6de43; 
}

.buttonCreate2  {
    margin-left: 450px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    border: 3px solid;
    padding: 8px 30px;
    color: #4de6de;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.buttonCreate2:hover{
    background-color: #4de6de43; 
}

.Filters {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    
}

select {
    padding-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    border: 3px solid;
    padding: 0px 30px;
    height: 80%;
    margin: 20px;
    color: #19a1fcce;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
select:hover {
    background-color: #19a1fc3c; 
    background: url(https://thumbs.dreamstime.com/b/fondo-de-pantalla-para-perros-huella-vector-sobre-blanco-aislado-pasos-199267833.jpg);
}
