

.div {
    display: flex;
    background: url(https://imgmedia.elpopular.pe/1200x660/elpopular/original/2020/07/19/5f14cacaa3f7322d85090003.webp) no-repeat 5% 50%;
    background-size: cover;
    flex-direction: column;
    padding-top: 8rem;
    padding-right: 40rem;
    height: 70vh;

}

.h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    font-weight: 200;
}

.button {
    border-radius: 9px;
    text-decoration: none;
    background-color: transparent;
    color: #f9f3f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    border: 3px solid;
    padding: 7px 30px;
    
}
.button:hover{
    background: #2193e0c2;
}